@media screen and (max-width:576px) {

  .footer-r {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
  }

}

@media screen and (max-width:876px) {

  .footer-r {
    display: grid ;
    grid-template-columns: repeat(2, 1fr) ;
  }

}